@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root{
    --bgOrange: #e84949;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/* //////////////////////-----HEADER-----//////////////////// */
.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 1rem;

}
.logo{
    width: 30px;
}

.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text{
    position: relative;
    margin-left: -0.2rem;
    font-size: 28px;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a{
    color: black;
}

a{
    text-decoration: none;
}

.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;  
}

/* ///////////-----HERO SECTION-------////////////// */

